<div class="bg-c-gray hei-inherit">
<div class=" bc-withe  pd-all-5 ub ub-ac ub-pc  pd-t-10" action="index/index/information">
										<div class="dic-icon img-d-zx"></div>
										<div class="ub-f1 ">
											<div class="pd-bt-10 fn-s-15 t-6">资讯</div>
										</div>
										<div class="width10 pd-bt-10 tx-al-c ub-ac ub">
											<div class="img-more "></div>
										</div>
</div>
<!--<div class=" bc-withe  pd-all-5 ub ub-ac ub-pc  mg-t-5" action="user/password/passwordUpdate">
										<div class="dic-icon img-d-gyjz"></div>
										<div class="ub-f1 ">
											<div class="pd-bt-10 fn-s-15 t-6">公益捐赠</div>
										</div>
										<div class="width10 pd-bt-10 tx-al-c ub-ac ub">
											<div class="img-more "></div>
										</div>
</div>-->
<div class=" bc-withe  pd-all-5 ub ub-ac ub-pc  mg-t-5" action="index/index/cashList">
										<div class="dic-icon img-d-thb"></div>
										<div class="ub-f1 ">
											<div class="pd-bt-10 fn-s-15 t-6">土豪榜</div>
										</div>
										<div class="width10 pd-bt-10 tx-al-c ub-ac ub">
											<div class="img-more "></div>
										</div>
</div>
<div class=" bc-withe  pd-all-5 ub ub-ac ub-pc  mg-t-5" action="index/index/operationData">
										<div class="dic-icon img-d-yysj"></div>
										<div class="ub-f1 ">
											<div class="pd-bt-10 fn-s-15 t-6">运营数据</div>
										</div>
										<div class="width10 pd-bt-10 tx-al-c ub-ac ub">
											<div class="img-more "></div>
										</div>
</div>
<div class=" bc-withe  pd-all-5 ub ub-ac ub-pc  mg-t-5" action="index/index/intergalMall">
										<div class="dic-icon img-d-mall"></div>
										<div class="ub-f1 ">
											<div class="pd-bt-10 fn-s-15 t-6">积分商城</div>
										</div>
										<div class="width10 pd-bt-10 tx-al-c ub-ac ub">
											<div class="img-more "></div>
										</div>
</div>
<div class=" bc-withe  pd-all-5 ub ub-ac ub-pc  mg-t-5" action="index/index/myPromotionAward/1">
										<div class="dic-icon img-d-tkyj"></div>
										<div class="ub-f1 ">
											<div class="pd-bt-10 fn-s-15 t-6">推广有奖</div>
										</div>
										<div class="width10 pd-bt-10 tx-al-c ub-ac ub">
											<div class="img-more "></div>
										</div>
</div>
<div class=" bc-withe  pd-all-5 ub ub-ac ub-pc  mg-t-5" action="index/index/financialCalculator">
										<div class="dic-icon img-d-jsq"></div>
										<div class="ub-f1 ">
											<div class="pd-bt-10 fn-s-15 t-6">理财计算器</div>
										</div>
										<div class="width10 pd-bt-10 tx-al-c ub-ac ub">
											<div class="img-more "></div>
										</div>
</div>

</div>