
<div class="bg-c-gray">
	<div id="infomation_title" class="ub fn-s-15 tx-al-c bc-withe " >
		<div class="pd-all-10 ub-f1 active-blue" data-item="item1"><%=mtbdName%></div>
		<div class="pd-all-10 ub-f1 " data-item="item2"><%=hyzxName%></div>
		<div class="pd-all-10 ub-f1 " data-item="item3">网站公告</div>
	</div>
	<div listItem="listItem" id="information_Article">
	<div item="item1" class="" ><div><div class="ListArea"></div></div></div>
	<div item="item2" class="hide" data-list><div><div class="ListArea"></div></div></div>
	<div item="item3" class="hide" data-list><div><div class="ListArea"></div></div></div>
	</div>
</div>
