<div id="promotionAward">
	<ul class="promotionAward-a">
		<li class="b-bottom luinn-pa18 ulev-app13">
			<p class="c-black ulev-18 umar-ab2">1.推广码邀请</p>
			<p class="umar-left1">这是您的专属推广码，请您邀请的好友在注册时输入;</p>
			<input readonly="true" class="ub ltg-code text-select" id='txt' value="<%=tgm%>"></input>
			<p class="tx-r  umar-t lt-gre no-select"><span class="JLongPress"></span></p>
			<p class="tx-r">长按可复制</p>
		</li>
		<li class=" luinn-pa18 ulev-app13">
			<p class="c-black ulev-18 umar-ab2">2.链接邀请</p>
			<p class="mar-a-0">这是你的专用邀请链接，请通过QQ或邮箱发送给好友：</p>
			<p class="spreadMsg ub-fh uinn-5"><span><%=msg%></span></p>
			<div class="spreadBtn pd-bt-10">发送给好友/分享到朋友圈</div>
		</li>
		<li class=" luinn-pa18 ulev-app13 " >
			<p class="c-black ulev-18 umar-ab2">邀请好友活动规则：</p>
			
			<p class="umar-t">1.只有在注册时输入您的邀请码或通过您复制的上述链接完成注册，并且要完成首笔充值；   （充值下限为<%=czjs%>元），才能被确认为成功邀请。</p>
			<p>2.每成功邀请一位充值成功的客户，您就获得<%=tghl%>元奖励，每人每月<%=tgsx%>人封顶。</p>
			<p>3.您成功邀请的好友单笔投资金额每增加<%=tzcs%>元，您即可多获得<%=tzjl%>元的连续奖励。</p>
			<p>4.若发现任何作弊或非法手段获得奖励的，将取消全部返利金额。</p>
			
		</li>
	</ul>
	
		
	
	
</div>
