<div class="hei-inherit">
    <div class="ub ub-ver ub-f1 hei-inherit c-e">
        <div class="b-wh mg-t-20 uc-a02  bc-withe"> 
            <div class="ub ub-ac  uinput  b-bottom ">
                <div class="uinn-al1 ulev-app25">
                    <div class=" t-btn-a5 ub-img8 "> </div>
                </div>
                <div class="ub-f1  t-gray login	" >
                	<%if(!!DMJS.userInfo){%>
                  		<input  type="text" id="verifyCode" value="<%=DMJS.userInfo.phone%>" readonly="readonly" />
           			<%}else{%>
           				 <input placeholder="请输入你的手机号码" id="phoneValue" type="tel"  maxlength="13"></input>
                    <input placeholder="请输入你的手机号码" id="phone" name="phone" nextfocus="verifyCode" type="hidden" title="手机号" maxlength="13" validator="notEmpty;length[11];reg[/^[1][3|4|5|7|8][0-9]{9}$/]" ></input>
           			<%}%>
                </div>
            </div>
        </div>

         <div class="b-wh  uc-a02 mg-t-1 bc-withe"  > 
            <div class="ub ub-ac uinput b-bottom   b-wh">
               <div class="uinn-al1 ulev-app25">
                    <div class="t-btn-a17 ub-img8 "> </div>
                </div>
                <div class="ub-f1 login t-gray">
                    <input placeholder="请输入手机验证码" id="verifyCode" name="verifyCode" title="手机验证码"  type="text"  maxlength="4" validator="notEmpty;reg[/^[0-9]{4,6}$/]" ></input>
                </div>
                <div class="uinn-ar2" id="getMcode" disabled="false">
                    <div class="c-orange fn-s-13 ub-border t-wh pd-all-8 c-gray6" id="yzm" data-info=''>获取验证码</div>
					<div class="fn-s-13 ub-border fn-c-white pd-all-8 hide" id="yzm_info"  style="color: #D3D3D3;"><span id="yzm_count">60</span>秒重新发送</div>
                </div>
            </div>
        </div> 
      
        <div class="ub ub-ac ub-pc umar-a21 c-orange uc-a02 c-gray6" id="next">
            <div class="ub ub-ac ub-pc t-wh line-h-45 ulev-app4">下一步</div>
        </div>

     
    </div>
</div>