<div>
<div class=" bc-withe  mg-t-5 hei-60 ub ub-ac ub-pc" action="user/password/loginPwdUpdate">
										<div class="hei-inherit img-user img-icon_14"></div>
										<div class="ub-f1 bd-t">
											
											<div class="line-h-40 fn-s-15 t-6">修改登录密码</div>
										</div>
										<div class="hei-40 width10 line-h-40 tx-al-c ub-ac ub bd-t">
											<div class="img-more "></div>
										</div>
</div>
<%if(!DMJS.userInfo.tg && DMJS.userInfo.isWithdrawPsd){%>
<%if(DMJS.userInfo.withdrawPsw==true){%>
<div class=" bc-withe  mg-t-5 hei-60 ub ub-ac ub-pc" action="user/password/tranPwdUpdate">
											<div class="img-mima"></div>
										<div class="ub-f1 bd-t">
											
											<div class="line-h-40 fn-s-15 t-6">修改交易密码</div>
										</div>
										<div class="hei-40 width10 line-h-40 tx-al-c ub-ac ub bd-t">
											<div class="img-more "></div>
										</div>
</div>
<div class=" bc-withe  mg-t-5 hei-60 ub ub-ac ub-pc" action="user/password/tranPwdCode">
											<div class="img-mima"></div>
										<div class="ub-f1 bd-t">
											
											<div class="line-h-40 fn-s-15 t-6">找回交易密码</div>
										</div>
										<div class="hei-40 width10 line-h-40 tx-al-c ub-ac ub bd-t">
											<div class="img-more "></div>
										</div>
</div>
<%}else{%>
	<div class=" bc-withe  mg-t-5 hei-60 ub ub-ac ub-pc" id='setMm'>
											<div class="img-mima"></div>
										<div class="ub-f1 bd-t">
											
											<div class="line-h-40 fn-s-15 t-6">设置交易密码</div>
										</div>
										<div class="hei-40 width10 line-h-40 tx-al-c ub-ac ub bd-t">
											<div class="img-more "></div>
										</div>
</div>
<%}%>
<%}%>
</div>