<div  id="loanContentList" class="web-tf-3d" >
	<div id="contentWrapper" class="uof" class="web-tf-3d">
        <div id="slider" class="ub-fh ub" class="web-tf-3d">
            <div items="1" class=" c-e ub-fh" class="web-tf-3d">
                <div >
                	<div id='sliderAddWrapper' class='background_loading uh-ele1 ub-fh t-bla uof  lu-height085 pos-relative' >
						<ul id='sliderAdd' class='ub-con ub ub-fh lu-height085 lIndexAdv'>
							
						</ul>
                        <div class="ub ub-ae ub-pe ub-fh" style="position:absolute; right:0;bottom:0;">
				            <div class="ub uinn-a1" id="proint">
				            	
				            </div>
						</div>									

					</div>

					<div class="ix-msg Jnotice bd-t">
						<ul class="fn-s-13" id='noticeL'>

						</ul>
					</div>

					<div class="ub ub-pc ub-pj hei-80 ub-ac bc-withe bd-t">
						<div class="ub-f1 bd-r pd-t-10 pd-bt-10 hei-60">
							<div>
								<div class="img-ljze mar-0-auto"></div>
								<div class="fn-s-12 tx-al-c fn-c-lightgray">
									<div class="fn-s-12  line-h-25 t-3 tx-al-c" ><span id='tzze'>0.00</span><span class="fn-s-11">元</span></div>
									<div class=""> &nbsp;投资总金额</div>
								</div>
							</div>
							
						</div>
						<div class="ub-f1 bd-r pd-t-10 pd-bt-10 hei-60">
							<div>
								<div class="img-ljbs mar-0-auto"></div>
								<div class="fn-s-12 tx-al-c fn-c-lightgray">
									<div class="fn-s-12  line-h-25 t-3 tx-al-c" ><span id='tzzsy'>0.00</span><span class="fn-s-11">元</span></div>
									<div class=""> &nbsp;投资总收益</div>
								</div>
							</div>
							
						</div>
						<div class="ub-f1 bd-r pd-t-10 pd-bt-10 hei-60">
							<div>
								<div class="img-ljrs mar-0-auto"></div>
								<div class="fn-s-12 tx-al-c fn-c-lightgray">
									<div class="fn-s-11 line-h-25 t-3 tx-al-c" ><span id='tzzrs'>0</span><span class="fn-s-11">人</span></div>
									<div class=""> &nbsp;投资总人数</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<div class="mg-t-10 pd-bt-10 bc-withe bd-bt" id="classify">
						<div id="lisssss" class="ub">
						<div class="width100">
							<div class="width25 tx-al-c" style="float:left" action="index/index/projectInvestment">
								<div class="img-xmtz ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray" >投资列表</div>
							</div>
							<div class="width25 tx-al-c" style="float:left" action="index/index/creditorTransfer">
								<div class="img-zqzr ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray">债权转让</div>
							</div>
							<div id="dona" class="width25 tx-al-c uhide" style="float:left" action="index/index/donationBenefit">
								<div class="img-gy ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray">公益</div>
							</div>
							<div id="mall" class="width25 tx-al-c uhide" style="float:left" action="index/index/intergalMall">
								<div class="img-sc ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray" >积分商城</div>
							</div>
							
							<div class="width25 tx-al-c" style="float:left" action="index/index/information">
								<div class="img-zx ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray" >资讯</div>
							</div>
							<div class="width25 tx-al-c" style="float:left" action="index/index/operationData">
								<div class="img-sj ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray">运营数据</div>
							</div>
							<div class="width25 tx-al-c" style="float:left" action="index/index/financialCalculator">
								<div class="img-jsq ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray">理财计算器</div>
							</div>
							<div class="width25 tx-al-c" style="float:left" action="index/index/myPromotionAward/1">
								<div class="img-tg ub-fh"></div>
								<div class="line-h-25 fn-s-13 fn-c-gray" >推广有奖</div>
							</div>
							
						</div>
						</div>
					</div>
					
					<div class=" fn-c-lightgray  mg-t-5 bc-withe pd-b-10 Jbid">

						<div class="ub hei-40 tx-al-c bd-t">
							<div class="ub-f1 ub ub-ac width50">
								<div class="ellipse-1 fn-s-15 fn-c-blue mg-l-10" id='bid_flag'></div>
								<div class="ub-f3 tx-al-l fn-s-15 fn-c " >&nbsp;<span id='bid_bidTitle'></span></div>
							</div>
							<div class="ub ub-ac mar-ar12 fn-s-15 fn-c-blue" id="bidFlag">
								<div id="bidFlagText"></div>
							</div>
						</div>
						
						<div class="bid-data">
							<i class="l-bg"></i>
							<i class="r-bg"></i>
							<div class="t-6 fn-s-20 tx-al-c pd-t-20 pd-b">年化利率</div>
							<div class="fn-s-40 tx-al-c fn-c-blue-1">
								<span class="fn-s-70" id='bid_jlrate'></span>
								<span style="position: relative;">%
								<span id="bid_addrate" style="position: absolute;top: -2.8rem;right: 0.3rem;font-size: 1.3rem;color: #ff0000;"></span>																
								</span>
							</div>
							<div class="ub tx-al-c fn-s-13 umar-at2 umar-ab15-1 pd-l-5 pd-r-5">
							    <div class="ub-f1">
								    <span class="money-icon"></span>
								    <span>项目金额:</span>
								    <span class="fn-c-blue" id='bid_je'></span>
							    </div>
							    <div class="ub-f1">
								    <span class="time-icon"></span>
								    <span class="img-date">投资期限:</span>
								    <span class="fn-c-blue"><span id='bid_yq'></span><span id="isDay">个月</span></span>
							    </div>
						    </div>
						  
						</div>
						
						<div class=" tx-al-c line-h-45 b-c-blue fn-c-white fn-s-17 mg-r-b10 mg-l-b10 radius3r JGoBuy" id="bid_buy">马上抢购</div>
					</div>
					
					<div class=" fn-c-lightgray  bc-withe" style="margin-top: 1rem;">
						<div class="fn-c fn-s-14 bd-t ub" style="padding:.8rem 0 .8rem .8rem">
											我要借款
											<i class="img-grjk-after"></i>
										</div>
						<div class="ub-f1 ub " action="index/index/loanPerson">
							<div class="img-grjk"></div>
							<div class="ub ub-pc ub-ver line-h-25">
								<div class=" fn-s-16 fn-c">个人借款意向</div>
								<div>1.暂时支持部分国内城市</div>
							    <div>2.仔细填写借款信息,我们将与您取得联系</div>
							</div>				
						</div>
					</div>
					
                </div>
            </div>
        </div>
    </div>   
</div>
