<div>
	<div class="date" >
		<div class="tx-al-c line-h-30 fn-s-13" id="title-date"></div>
		<div class="ub ub-ac tx-al-c">
			<div class='ub-f1 ct-day'>日</div>
			<div class='ub-f1 ct-day'>一</div>
			<div class='ub-f1 ct-day'>二</div>
			<div class='ub-f1 ct-day'>三</div>
			<div class='ub-f1 ct-day'>四</div>
			<div class='ub-f1 ct-day'>五</div>
			<div class='ub-f1 ct-day'>六</div>
		</div>
		<div id="dateList">
		<!--<div class="ub ub-ac">
			<div class='ub-f1 ct-date'>30</div>
			<div class='ub-f1 ct-date'>31</div>
			<div class='ub-f1 ct-date'>1</div>
			<div class='ub-f1 ct-date'>2</div>
			<div class='ub-f1 ct-date'>3</div>
			<div class='ub-f1 ct-date'>4</div>
			<div class='ub-f1 ct-date'>5</div>
		</div>-->
		</div>
		<div class="ub mg-t-5">
			<div class="ub-f1 ub ub-ac ub-pc">
				<div class="now-date "></div>
				<div>&nbsp;当前时间</div>
			</div>
			<div class="ub-f1 ub ub-ac ub-pc">
				<div class="hk-date"></div>
				<div>&nbsp;汇款时间</div>
			</div>
		</div>
		<!--<div class="ub">
			<div class="width60 ">该日预期汇款(元)&nbsp;<span>230.02</span></div>
			<div class="width40 ">2015/07/20</div>
		</div>
		<div class="ub">
			<div class="width60 ">7月汇款总计(元)&nbsp;<span>1000.36</span></div>
			<div class="width40 ">2015/07/20</div>
		</div>-->
	</div>
</div>