<div>
<div class="bd-t bc-withe  mg-t-5  ub ub-ac ub-pc" action="user/personal/experience">
										<div class="img-tyj"></div>
										<div class="ub-f1 ">
											
											<div class="line-h-40 fn-s-15 t-6">体验金</div>
										</div>
										<div class=" pd-r-10 line-h-40 fn-s-13"><span class="fn-c-org fn-s-15"><%=experAmonut%></span> 元</div>
										<div class="hei-40 width10 line-h-40 tx-al-c ub-ac ub ">
											<div class="img-more "></div>
										</div>
</div>

<div class=" bd-t bc-withe  mg-t-5  ub ub-ac ub-pc" action="user/personal/redPacket">
										<div class="img-hb"></div>
										<div class="ub-f1 ">
											<div class="line-h-40 fn-s-15 t-6">红包</div>
										</div>
										<div class=" pd-r-10 line-h-40 fn-s-13"><span class="fn-c-org fn-s-15"><%=totalHbAmount%></span> 个</div>
										<div class="hei-40 width10 line-h-40 tx-al-c ub-ac ub ">
											<div class="img-more "></div>
										</div>
</div>
<div class=" bd-t bc-withe  mg-t-5  ub ub-ac ub-pc" action="user/personal/raise">
										<div class="img-jxq"></div>
										<div class="ub-f1 ">
											<div class="line-h-40 fn-s-15 t-6">加息券</div>
										</div>
										<div class=" pd-r-10 line-h-40 fn-s-13"><span class="fn-c-org fn-s-15"><%=totalJxqAmount%></span> 张</div>
										<div class="hei-40 width10  tx-al-c ub-ac ub ">
											<div class="img-more "></div>
										</div>
</div>
<div class="mg-t-10 fn-c-blue ub ub-pe pd-lr-5 fn-s-13">温馨提示：新手标及奖励标不支持使用红包、加息券及体验金</div>
          
</div>