<div  id="" class="web-tf-3d" >
					<div id="contentWrapper" class="uof" >
                        <div id="slider" class="ub-fh ub " >
                                <div class=" c-e ub-fh" >
                                	<div id='sliderAddWrappers' class=' uh-ele1 ub-fh t-bla uof  lu-height085 ' >
    									<ul id='sliderAdd1' class='ub-con ub ub-fh lu-height085 lIndexAdv'>
		        							
    									</ul>
		                                <div class="ub ub-ae ub-pe ub-fh" style="position:absolute; right:0;bottom:0;">
								            <div class="ub uinn-a1" id="proint">
								            	
								            </div>
										</div>									
									</div>
								<div >
									<div class="ub ub-pc ub-pj pd-bt-10 bc-withe ub-ac">
										
										<div class="ub-f1 bd-r hei-40  ">
											<div class="fn-s-17 tx-al-l pd-l-10 line-h-25 fn-c-org"><%=DMJS.changeAmount(donationsAmount*1)%><span class="fn-s-11 fn-c-gray">元</span></div>
											<div class="fn-s-12 pd-l-10 tx-al-l fn-c-lightgray ub">
												<div class="img-ljze"></div><div class=""> &nbsp;累计捐助总金额</div>
											</div>
										</div>
										<div class="ub-f1 bd-r hei-40  ">
											<div class="fn-s-17 tx-al-l pd-l-10 line-h-25 fn-c-org"><%=donationsNum%><span class="fn-s-11 fn-c-gray">笔</span></div>
											<div class="ub fn-s-12 pd-l-10 tx-al-l fn-c-lightgray">
												<div class="img-ljbs"></div><div class=""> &nbsp;累计捐助总笔数</div>
												</div>
										</div>
									</div>
									<div id="donationDetail">
										<div  item="listItem">
											
										</div>
									</div>
									
						</div>
                                </div>
                          
             
                        </div>
                    </div>   
                    
</div>
